h1,h1+p{
    color:#333333;

}
h1 {
    font-size:40px;
    font-weight:bold;
}
h1+p{
    font-size:20px;
}
body {
    background-color:#EEEEEE;
    font-family:'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    color:#333333;

}
h1,h1+p,.landpage,.comment,.final,.footer{
    text-align: center;

}
.landpage{
    background-color:white;
    margin:0px 20px;
}
img{
    max-width:100%;
}
.landpage figcaption{
    font-size:20px;
    padding-bottom:20px;
}
.section h2{
    padding: 40px;
}
.section ul span{
    font-weight: bold;

}
.section ul {
    font-size:27px;
    width: 50%;
    margin-left:25%;
    
}
.section ul li{
    padding:15px;
}
.section h2{
    text-align: center;
    
}
.section .comment{
    font-style: italic;
    font-size:27px;
    width: 50%;
    margin-left:25%;
    text-align: left;
    color:#333;
    margin-top:50px;
    margin-bottom:50px;


}
.final{
    font-size:25px;
    font-weight: bold;
}
.footer{
    background-color:white;
    height:3vh;
}